
.Footer1
    { 
        background: #4e5944 ;
            border-top: 1px solid black;
            padding: 6px 0 3px;
    
}
.footer2{
    width: 960px;
    margin: 0 auto;
}
.textxolor2{
    color: white;
    
}